<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item " aria-current="page">
      <a routerLink="/students" href="#">Student</a>
    </li>
  </ol>
</nav>

<button type="button" *appHasRole="'ROLE_ADMIN'" class="btn m-2  btn-info" routerLink="/students/add">Add student
</button>
<div class="container-fluid bg-light py-2">
  <form [formGroup]="StudentSearchForm" (ngSubmit)="onSearchSubmit(1)"
        class="row align-items-center justify-content-center">
    <div class="col-md-2 pt-3">
      <div class="form-group ">
        <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
      </div>
    </div>

    <div class="col-md-2 pt-3" *appHasRole="'ROLE_ADMIN'">
      <div class="form-group">
        <select id="inputState" class="form-control" formControlName="semester">
          <option selected value={{0}}>select semester</option>
          <option *ngFor="let semesterResponse of semesterResponse"
                  [value]="semesterResponse.id">{{ semesterResponse.semester }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
  </form>
</div>
<div class=" w-100 d-flex justify-content-center align-items-center mt-5">
  <table class="table w-75 table-hover" *ngIf="students.length">
    <thead>
    <tr class="gradient-custom">
      <th scope="col">studentId</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>

      <!--      <th scope="col">Options</th>-->
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let student of students" (click)="studentProfile(student.id)">
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>
        <div *ngFor="let phone of student.number">
          {{ phone }}<br>


        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
<!--TODO do this-->
<div class="w-100 d-flex justify-content-center pb-5">
  <div *ngIf="students.length" class="pagination">
    <button class="page-link" (click)="onSearchSubmit(page-1 )" [disabled]="page <= 1">Previous</button>
    <div class="page-link d-flex h-100 align-items-center justify-content-center ">
      {{ page }} of {{ Math.ceil(total / limit) }}
    </div>

    <button class="page-link" (click)="onSearchSubmit(page+1)" [disabled]="page >= total/limit">Next
    </button>
  </div>
</div>

<div *ngIf="!students.length && !errorMessage">
  No students found.
</div>

