<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item " aria-current="page">
      <a routerLink="/students" href="#">Student</a>
    </li>
    <li class="breadcrumb-item " aria-current="page">
      <a routerLink="/student/{{studentProfile?.id}}" href="#">{{ studentProfile?.name }}</a>
    </li>

  </ol>

</nav>

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card  p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center">
      <button class="btn btn-secondary"><img src="http://localhost:8080/uploads/photos/{{studentProfile?.photo}}"
                                             class="img-fluid" width="500" /></button>
      <div class="border border-5 border-top border-danger rounded-bottom  w-100 mt-3"></div>
      <span class="name mt-3  ">{{ studentProfile?.name }}</span>
      <div class="d-flex flex-row justify-content-center align-items-center gap-2">
        <span class="idd">{{ studentProfile?.email }}</span>
        <span><i class="fa fa-copy"></i></span></div>
      <div class="d-flex flex-column justify-content-center align-items-center mt-3"><span class="number">Ph.no
        </span>
        <div *ngFor="let number of studentProfile?.number">

          <span>{{ number }}</span>
        </div>

      </div>
      <div class=" d-flex mt-2">
        <button class="btn btn-dark">Edit Profile</button>
      </div>
    </div>
  </div>
</div>
