.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.custom-snackbar-success {
  background-color: #4caf50;
  color: #ffffff;
}

.custom-snackbar-error {
  background-color: #f44336; /* Red */
  color: #ffffff; /* White */
}

.custom-snackbar-info {
  background-color: #2196f3; /* Blue */
  color: #ffffff; /* White */
}

