<section class="vh-100 gradient-custom ">
  <div *ngIf="showAlert" class="high-index position-absolute {{alertMessage }} d-flex justify-content-center w-100">
    <div @alertAnimation class="alert alert-danger w-25  " role="alert">
      {{ alertMessage }}
      <button type="button" class="close" aria-label="Close" (click)="hideAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="container py-5 h-100 low-index">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form [formGroup]="loginForm" (submit)="onLogin()" class="md-5 md-4">
              <h2 class="fw-bold mb-1 text-uppercase dancing-script">Login</h2>
              <p class="text-white-50 mb-4">Please enter your login and password!</p>

              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" autocomplete="email"/>
                <label class="form-label" for="typeEmailX">Email</label>
              </div>
              <div data-mdb-input-init class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                       formControlName="password" autocomplete="current-password" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>
              <button data-mdb-button-init data-mdb-ripple-init class="oswald-script btn btn-outline-light btn-lg px-5" type="submit"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<c-alert *ngIf="showAlert" [variant]="'success'"  class="fade show">-->
<!--  {{ alertMessage }}-->
<!--</c-alert>-->
