<button type="button" class="btn m-2  btn-info" routerLink="/exams/new">Add exam</button>

<div class="container-fluid bg-light py-2">
  <form [formGroup]="ExamSearchForm" (ngSubmit)="onSearchSubmit()" class="row align-items-center justify-content-center">
    <div class="col-md-2 pt-3">
      <div class="form-group ">
        <input type="text" class="form-control" placeholder="Enter name of the exam" formControlName="name">
      </div>
    </div>
    <div class="col-md-2 pt-3">
      <div class="form-group">
        <input type="date" class="form-control" placeholder="Enter name of the exam" formControlName="date">

      </div>
    </div>

    <div class="col-md-2 pt-3">
      <div class="form-group">
        <select id="inputState" class="form-control" formControlName="subject">
          <option value={{null}}>select subject</option>
          <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
  </form>
</div>
<div class="text-center">
  <span class="text-danger font-italic" *ngIf="errorMessage">{{ errorMessage }}</span>

</div>

<div class=" w-100 d-flex justify-content-center align-items-center mt-5">

  <table class="table w-75 table-hover" *ngIf="exams.length">
    <thead>
    <tr class="gradient-custom">
      <th scope="col">studentId</th>
      <th scope="col">Name</th>
      <th scope="col">date</th>
      <th scope="col">subject</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let exam of exams">
      <th scope="row">{{ exam.id }}</th>
      <td>{{ exam.name }}</td>
      <td>{{ exam.date }}</td>
      <td>{{ exam.subject }}</td>
    </tbody>
  </table>
</div>
